<a href="https://colab.research.google.com/github/Saifullah785/Machine_Learning_Projects/blob/main/Project_17_Car_Price_Predictor/Project_17_Car_Price_Predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
mpl.style.use('ggplot')

In [4]:
car = pd.read_csv('quikr_car.csv')

In [5]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [6]:
car.shape

(892, 6)

In [7]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

# creating backup copy

In [8]:
backup = car.copy()

Quality

- names are pretty inconsistent
- names have commpany names attached to it
- some names are spam like 'Maruti Ertiga showroom condition with' and well mentained Tata Sumo'
- company: many of the names are not of any company like 'Used','URJENT', and so on.
- year has many non-year values
- year is in object. Change to integer
- Price has Ask for price
- price has commas in its prices and is in object
- Kms_driven has object values with kms at last.
- it has nan values and two rows have 'Petrol' in them
- fuel_type has nan values

# Cleaning Data

## year has many non-year values

In [9]:
car = car[car['year'].str.isnumeric()]

## year is in object. Change to integer

In [10]:
car['year'] = car['year'].astype(int)

## price has Ask for price

In [11]:
car = car[car['Price'] != 'Ask For Price']

## price has commas in its prices and is in object

In [12]:
car['Price'] = car['Price'].str.replace(',','').astype(int)

## kms_driven has object values with kms at last

In [13]:
car['kms_driven']=car['kms_driven'].str.split().str.get(0).str.replace(',','')

## it has nan values and two row have 'Petrol' in them

In [14]:
car = car[car['kms_driven'].str.isnumeric()]

In [15]:
car['kms_driven'] = car['kms_driven'].astype(int)

## fuel_type has nan values

In [16]:
car = car[~car['fuel_type'].isna()]

In [17]:
car.shape

(816, 6)

name and company had spammed data... but with the previous cleaning, those row got romoved.

company does not need any cleaning now. Changing car names. Keeping only th first three words

In [18]:
car['name'] = car['name'].str.split().str.slice(start=0,stop=3).str.join(' ')


Resetting the index of the final cleaned data

In [19]:
car = car.reset_index(drop=True)

In [20]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]